* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: linear-gradient(to bottom, #a1e3cb 30%, #fff 100%);
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "American Typewriter", "Candara", "Times New Roman", serif;
  text-align: center;
}

td {
  vertical-align: top;
}

.App {
  margin: auto;
  max-width: 800px;
  padding: 1em;
}

textarea {
  text-align: center;
  width: 100%;
  min-height: 8em;
}

.sol {
  flex: 1;
  text-align: center;
}

table {
  width: 100%;
}

.settings {
  display: flex;
  margin: 1em;
}

.settings > label {
  flex: 1;
}
